.App {
  font-family: sans-serif;
  text-align: center;
}
.container {
  display: flex;
  flex-direction: column;
  text-align: left;
  padding-left: 1rem;
}
.pointer {
  cursor: pointer;
}

.icons{
  img{
    width:20px;
    margin-left:5px;
  }
  
}